[Unit]
Description=vexor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
LimitNOFILE=1000000
LogRateLimitIntervalSec=0
Environment="PATH=/bin:/usr/bin:/usr/local/bin:/home/sol/vexor/bin"
Environment="SOLANA_METRICS_CONFIG=host=https://metrics.solana.com:8086,db=tds,u=testnet_write,p=c4fa841aa918bf8274e3e2a44d77568d9861b3ea"
ExecStart=/home/sol/bin/vexor-testnet-restart
TimeoutSec=infinity
User=sol
Group=sol
WorkingDirectory=/home/sol

[Install]
WantedBy=multi-user.target
